/* Propios */
#fondo{
    /*background: url("../static/pc2.jpg");
    background-repeat: repeat;
    background-size: 50px;
    background-blend-mode: screen;*/
    background: #fff5ee;
    
}

h1{
    text-shadow: 2px 2px 8px #FF0000;
}
#lista_roles{
    
    padding: 2px;
}
#formualta{
  display:none
}

.boton_degradado{
  background: linear-gradient(#1a6f94, #e9e9e9);
  font-weight: bold;
  color: rgb(13, 40, 116);
  border: solid 2px ;
  border-radius: 15px ;
  /* //text-shadow: 1px 1px 2px #f7f5f5; */
  box-shadow: 2px 2px 4px #0e0000;
}

.boton_degradado:hover{
  background:#3f87a6;
  color:rgb(209, 203, 233);
}

.imagen_faq{
  box-shadow: 3px 3px 5px #021b6d;
}

th{
  font-weight: bold;
  text-align: center;
}



/* algunas cosillas de Bootstrap */
.dataTables_filter input { 
  align-items: center;
  width: 300px 
}
.dataTables_filter input:focus {
  background-color: yellow;
}

.dt-button{
  margin-bottom: 5px;
}

/* .navbar{
  margin-left:-10px;
  margin-right:-30px;
  }

.navbar-inner{
padding-left:0;
padding-right:0;
}   */

